opencv_python==4.4.0.42
tensorflow_gpu==2.3.0
requests
numpy==1.22.0
loguru==0.5.1
matplotlib==3.3.0
tqdm==4.48.0
gradio
pandas==1.1.2
six==1.15.0
einops==0.3.0
adabelief_tf==0.1.0
django_recaptcha==2.0.6
Pillow==8.0.1
tensorflow==2.3.0
pydot-ng
graphviz
captcha
tensorboard
xlrd
